extends layout

block content
    h1 Customers
    table.order_table
        tr
            th First Name
            th Last Name
            th Street Address
            th Zip Code
            th City
            th Phone
            th Email
            th Update Phone
            th Update Email
            th Delete
        if customers_list && customers_list.length > 0
            each c in customers_list
                tr
                    td #{c.first_name}
                    td #{c.last_name}
                    td #{c.address.street_address}
                    td #{c.address.zip_code}
                    td #{c.address.city}
                    td #{c.contact.phone}
                    td #{c.contact.email}
                    td.center
                        form(action='/customers/updatephone?id=#{c.id}', method='post')
                            label(for='phone')
                                span
                                input(type='phone', name='phone', id='phone', required='true')
                            label(for='submit')
                                span
                                input(type='submit', id='submit', value='Save')
                    td.center
                        form(action='/customers/updateemail?id=#{c.id}', method='post')
                            label(for='email')
                                span
                                input(type='email', name='email', id='email', required='true')
                            label(for='submit')
                                span
                                input(type='submit', id='submit', value='Save')
                    td.center
                        a(href="/customers/delete?id=#{c.id}")
                            img.icon(src="/images/delete.png")
         
        else
            tr
                td(colspan=12) No records
    