extends layout

block content
    h1 Welcome #{user.first_name}
    img(src="/images/avatars/#{user.avatar}")
    p Info about you:
        p Firt Name: #{user.first_name}
        p Last Name: #{user.last_name}
        p Email: #{user.email}
        p Username: #{user.username}
        p Year: #{user.birthyear}
        
    a(href='/logout') Logout